In [2]:
import pandas as pd

df = pd.read_csv("https://autogluon.s3.amazonaws.com/datasets/timeseries/m4_hourly_subset/train.csv")
df.head(100)

   item_id            timestamp  target
0       H1  1750-01-01 00:00:00   605.0
1       H1  1750-01-01 01:00:00   586.0
2       H1  1750-01-01 02:00:00   586.0
3       H1  1750-01-01 03:00:00   559.0
4       H1  1750-01-01 04:00:00   511.0
..     ...                  ...     ...
95      H1  1750-01-04 23:00:00   710.0
96      H1  1750-01-05 00:00:00   647.0
97      H1  1750-01-05 01:00:00   593.0
98      H1  1750-01-05 02:00:00   564.0
99      H1  1750-01-05 03:00:00   528.0

[100 rows x 3 columns]